.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h5, h6 {
  margin: 2px;
}

.form_view {
  height: 100vh;
  width:10%;
  position: fixed;
  display: inline-block;
  float: left;
  border: 1px solid #666;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px;
}

.form_view > input, select {
  width: 80%;
  background-color: #aaa;
  display: block;
  margin: 3px auto;
}

.form_view label {
  display: block;
  font-size: 16px;
  margin: 3px auto;
}

.calendarView {
  width:auto;
  overflow: scroll;
  position: relative;
  left:10vw;
  display: inline-block;
}

.react-calendar {
  width: 78%;
  margin-left: 1vw;
  max-width: 80%;
  height:fit-content;
  background: white;
  font-family: 'Arial', 'Helvetica', sans-serif;
  float: left;
}

.react-calendar__tile, .react-calendar__tile--now, .react-calendar__tile--active {
  display: block;
  max-width: 80%;
  min-width: 8%;
  min-height: 7vh;
  overflow: scroll;
  box-shadow: 3px 3px lightblue;
  margin-bottom: 1vh !important;
  padding: 10px 6.6667px;
  color: black;
  background: none;
  text-align: left;
  font: inherit;
  font-size: 0.833em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
